#Directories
/shelf/
/.idea
/httpRequests/
/dataSources/
/Data/
/__pycache__/
/SQL/
__pycache__
/*/__pycache__
/__pycache__

#Files
requirements.txt
/Metrics/Conversion.txt
/Metrics/ResponseTime.txt
docker-compose.yml
.dockerignore
Dockerfile
pythonProject.rar
README.md
Data/Settings.txt
/dataSources.local.xml
/workspace.xml
