#Directories
/shelf/
/.idea
/httpRequests/
/dataSources/

/__pycache__/
/SQL/DataBases
__pycache__
/*/__pycache__
/__pycache__

#Files
/Data/Settings.txt
requirements.txt
/Metrics/ActiveUsers.txt
/Metrics/Conversion.txt
/Metrics/ResponseTime.txt
docker-compose.yml
.dockerignore
Dockerfile
pythonProject.rar
README.md
Data/Settings.txt
/dataSources.local.xml
/workspace.xml
