#Directories
/shelf/
/.idea
/httpRequests/
/dataSources/
/.venv/
/venv/

/__pycache__/
/SQL/DataBases
__pycache__
/*/__pycache__
/__pycache__

#Files
/Metrics/ActiveUsers.txt
/Metrics/Conversion.txt
/Metrics/ResponseTime.txt
pythonProject.rar
Data/Settings.txt
/dataSources.local.xml
/workspace.xml